a {
  color: inherit;
  text-decoration: none;
}

.category-AX {
  background-color: #d0f5d0 !important; /* Светло-зелёный */
}

.category-AY, .category-AZ, .category-BX, .category-BY {
  background-color: #fff9c4 !important; /* Светло-жёлтый */
}

.category-BZ, .category-CX, .category-CY, .category-CZ {
  background-color: #ffcccb !important; /* Светло-красный */
}
